*{margin:0;padding:0;box-sizing:border-box;}

html{
    background:#efefef;
    scroll-behavior:smooth;
    -webkit-text-size-adjust:100%;
}

body{
    min-height:100vh;
    padding-bottom:90px;
    overflow-x:hidden;
    background:#efefef;
    color:#1d1d1f;
    font-family:-apple-system,BlinkMacSystemFont,"SF Pro Display","SF Pro Text",sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

.header{
    height:190px;
    position:relative;
    background-image:url("images/header-image.png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.back{
    position:absolute;
    top:95px;
    left:22px;
    display:flex;
    align-items:center;
    gap:8px;
    border:none;
    background:none;
    color:#000;
    font-size:18px;
    font-weight:500;
}

.back img{
    width:22px;
    height:22px;
}

.government-logo{
    position:absolute;
    top:70px;
    right:22px;
    width:132px;
    z-index:10;
}

.title{
    position:absolute;
    left:22px;
    bottom:26px;
    padding:0;
    z-index:10;
}

.title h1{
    font-size:18px;
    font-weight:700;
    color:#000;
}

.card{
    width:100vw;
    margin:-10px 0 71px;
    position:relative;
    left:50%;
    transform:translateX(-50%);
    overflow:hidden;
    border-radius:24px 24px 0 0;
    background:#fff;
    box-shadow:0 2px 8px rgba(0,0,0,.06);
}

.watermark{
    position:fixed;
    top:25%;
    left:50%;
    transform:translate(-50%,-60%);
    width:220px;
    opacity:.50;
    pointer-events:none;
    z-index:1;
    animation:watermarkBounce 1.4s ease-in-out infinite;
}

.identity,
.refresh,
.row,
.share-button{
    position:relative;
    z-index:1;
}

@keyframes watermarkBounce{

    0%,1%{
        transform:translate(-50%,-60%) scale(1);
    }

    50%,51%{
        transform:translate(-50%,-60%) scale(1.15);
    }

    100%{
        transform:translate(-50%,-60%) scale(1);
    }

}

.identity{
    display:flex;
    gap:14px;
    padding:18px;
}

.photo{
    width:105px;
    height:135px;
    border-radius:10px;
    object-fit:cover;
    background:#d7d7d7;
    flex-shrink:0;
    position:relative;
    z-index:0;
}

.details{flex:1;}

.details h2{
    font-size:19px;
    font-weight:400;   /* Normal */
    letter-spacing:.2px;
}

.details h3{
    margin-bottom:8px;
    font-size:19px;
    font-weight:700;   /* Bold */
    line-height:1;
}

.field{margin-bottom:8px;}

.field-title{
    display:flex;
    align-items:center;
    gap:4px;
    margin-bottom:1px;
    font-size:12px;
    color:#777;
}

.field-value{
    display:flex;
    align-items:center;
    gap:6px;
    font-size:16px;
    font-weight:600;
}

.field-title img{width:12px;height:12px;}
.field-value img{width:16px;height:16px;}

.refresh{padding:0 18px 14px;}

.refresh p{
    margin-bottom:3px;
    font-size:12px;
    color:#777;
}

.refresh strong{
    font-size:14px;
    font-weight:600;
}

hr{
    border:none;
    border-top:1px solid #ededed;
}

.row{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    gap:14px;
    padding:14px 18px;
}

.left{
    display:flex;
    align-items:center;
    gap:4px;
    min-width:105px;
    font-size:13px;
    font-weight:500;
    color:#6b6b6b;
}

.left img{width:12px;height:12px;}

.right{
    flex:1;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    gap:6px;
    margin-left:20px;
    text-align:left;
    font-size:15px;
    font-weight:500;
}

.current{color:#0B8A57;}
.over18{color:#0B8A57;}

.green-dot{
    width:24px;
    height:24px;
    border-radius:75%;
    background:#0B8A57;
}

.green-box{
    display:flex;
    justify-content:center;
    align-items:center;
    width:24px;
    height:24px;
    border-radius:50%;
    background:#0B8A57;
    color:#fff;
    font-size:12px;
}

.address{align-items:flex-start;}
.address .right{
    justify-content:flex-start;
    text-align:left;
    line-height:1.45;
}

.signature-row{
    align-items:flex-start;
}
.signature{width:110px;height:auto;}

.authority{
    justify-content:flex-start;
    text-align:left;
    line-height:1.45;
}

.share-button{
    display:flex;
    justify-content:center;
    align-items:center;

    width:calc(100% - 32px);
    height:46px;

    margin:20px 16px 24px;

    border:none;
    border-radius:14px;

    background:#F4B453;

    color:#000;
    font-size:14px;
    font-weight:700;
    letter-spacing:1.2px;

    cursor:pointer;
}

.share-button{
    height:35px;
    border-radius:12px;
}
.share-button:active{transform:scale(.98);}

img{
    user-select:none;
    -webkit-user-drag:none;
}

::-webkit-scrollbar{display:none;}

@supports(padding:max(0px)){
    body{padding-bottom:env(safe-area-inset-bottom);}
}


.bottom-nav{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:88px;
    background:#fff;
    display:flex;
    justify-content:space-around;
    align-items:flex-start;
    padding-top:12px;
    z-index:999;
    overflow:visible;

    box-shadow:0 -3px 10px rgba(0,0,0,.10);
}

.bottom-nav::before{
    content:"";
    position:absolute;
    left:50%;
    top:-14px;

    width:90px;
    height:46px;
    border-radius:90px 90px 0 0;
    
    transform:translateX(-50%);
    background:#fff;

    border-top:none;
    border-bottom:none;

    z-index:0;
}

.nav-item{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:5px;
    width:20%;
}

.nav-item img{
    width:30px;
    height:30px;
    object-fit:contain;
}

.nav-item span{
    font-size:12px;
    color:#666;
    font-weight:500;
}

.nav-item.active span{
    color:#7b1532;
    font-weight:600;
}

.centre{
    transform:translateY(-11px);
    position:relative;
    z-index:2;
}

.centre img{
    width:42px;
    height:42px;
}

.compact{
    padding:8px 18px;
}

.address .left{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    gap:6px;
}

.address .left div{
    display:flex;
    align-items:center;
    gap:4px;
}

.address-note{
    font-size:11px;
    font-style:italic;
    font-weight:400;
    color:#777;
    line-height:1.3;
}

.status-pill{
    display:inline-flex;
    align-items:center;
    justify-content:center;

    padding:5px 10px;   /* Smaller height */

    background:#0B8A57;
    color:#fff;

    border-radius:7px; /* Less rounded */

    font-size:15px;
    font-weight:500;
}

.status-label{
    text-decoration:underline;
}

.car-icon{
    width:36px;
    height:20px;
    margin-left:0px;
    vertical-align:middle;
}

.details,
.refresh,
.row,
.share-button,
hr{
    position:relative;
    z-index:2;
}

.licence-label{
    text-decoration:underline;
}

.class-label{
    text-decoration:underline;
}

.conditions-label{
    text-decoration:underline;
}

.card-number-label{
    text-decoration:underline;
}

.signature-label{
    text-decoration:underline;
}

.header::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-30px;    /* Extends below the header */
    width:100%;
    height:30px;     /* Amount to extend */
    background-image:url("images/header-image.png");
    background-size:cover;
    background-position:center bottom;
    background-repeat:no-repeat;
    z-index:0;
}